:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100vw;
    background-color:rgb(233, 88, 88)!important;
    margin: 0;
}
.nav-header{
    background-color: rgb(97, 212, 193)!important;
    color:rgb(80, 71, 71);
    
    position: sticky;
}
nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    gap:0.5rem;
}
.nav-items,.hidden{
    color:inherit;
    padding: 0.3rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}
.nav-links{
    text-decoration: none;
    color:inherit;
    padding-inline: 0.25rem;
    border-radius:1.2rem;
    opacity: 0.7;
}
.containers{
    display: flex;
    gap:0.4rem;
}

.icons{
    display: none;
}
.nav-links:hover{
    text-decoration: none;
    opacity: 1;
    cursor: pointer;
 
}
.nav-links.active{
 
    opacity: 1;
}

@media screen and (max-width:900px) {
    .nav-header{
        width: 100%;
        height: 3rem;
        position:relative;

    }
    nav{
        display: flex;
        flex-direction: row;
        width: 100%;
        z-index:99999;
        padding-left:5px;
        padding-right:5px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .logo{
        height:100%;
        justify-self: center;
        align-self: center;
        text-align: center;
    }
    
    .icons{
        display: flex;
        align-self:center;
        
        align-items: center;
        justify-content: center;
        width:3rem;
        font-size: 1.8rem;
    }
    button{
        background: transparent;
        color:inherit;
        padding:0;
        margin:0;
        border:none;
    }
    
    .active{
        display:block;
        z-index: 99999;
    }
    .hidden{
        display: none;
    }
    .nav-items{
        position:absolute;
        background: rgb(51, 51, 51);
        top:55px;
        right:0%;
        z-index: index 9999;

        display: flex;
        flex-direction: column;
    }
    .containers{
        display: inherit;
        flex-direction: column;
        gap:0.5rem;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .nav-items{
        width:100%;
    }
    .nav-links{
        width:100%;
    }


}
.post{
    background-color: rgb(214, 175, 250)!important;
    color: rgb(194, 97, 80) !important;
}
.sidebar{
    background-color: blue !important;
    color:aqua !important;
}