:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100vw;
    margin: 0;
}
.nav-header{
    background-color: rgb(51,51,51);
    color:white;
    padding: 0.6rem;
    margin: 1rem;
    border-radius: 0.4rem;
    width: 98%;
    position: sticky;
}
nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:2rem;

}
.nav-items{
    color:inherit;
    padding: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}
.nav-links{
    text-decoration: none;
    color:inherit;
    padding: 0.25rem;
    padding-inline: 1rem;
    border-radius:1.2rem;
    opacity: 0.7;
}
.containers{
    display: flex;
    gap:1rem;
}

.icons{
    display: none;
}
.nav-links:hover{
    text-decoration: none;
    opacity: 1;
 
}
.nav-links.active{
 
    opacity: 1;
}
@media screen and (max-width:680px) {
    .nav-header{
        width: 95%;
    }
    nav{
        display: flex;
        flex-direction: row;
        width: 98%;
        justify-items: space-between;
        align-items: center;
    }
    
    .icons{
        display: flex;
        width:100%;
        align-items: center;
        justify-content: flex-end;
        
    }
    .icons > button{
        background:transparent;
        color:inherit;
        border: none;
        font-size:2rem;
        align-self: center;
        justify-self: center;
        text-align: center;
    }
    .active{
        display:block;
    }
    .hidden{
        display: none;
    }
    .nav-items{
        position:absolute;
        background: rgb(51, 51, 51);
        top:90px;
        border-radius: 0.4rem;
        right:0%;

        display: flex;
        flex-direction: column;
    }
    .containers{
        display: inherit;
        flex-direction: column;
        gap:0.5rem;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .nav-items{
        width:100%;
    }
    .nav-links{
        width:100%;
    }

}
